In [2]:
import pandas as pd


# EJERCICIO 1

"""
    Decribe una variable con nombre "notas" que tenga el valor -3
    muestra su valor
"""

notas = -3
notas

-3

In [ ]:
# Descomentar para ejecutar:
# note(notas)
#
# EJERCICIO 2
#
#"""
#    Imprime los valores de "s" es igual 25, de "y" es igual a 10, poniendo la siguiente salida:
#    El valor de "s" es "valor de s" y el valor de y es "valor de y"
#"""

In [3]:
s = 25
y = 10
print(f'el valor de s es {s} y el valor de y es {y}')

el valor de s es 25 y el valor de y es 10

In [4]:
print('el valor de s es ' + str(s) + ' y el valor de y es ' + str(y))

el valor de s es 25 y el valor de y es 10

In [5]:
print('el valor de s es ', s, ' y el valor de y es ', y)

el valor de s es  25  y el valor de y es  10

In [6]:
print(f'el valor de s es %s y el valor de y es %s' %(s, y))

el valor de s es 25 y el valor de y es 10

In [7]:
# Modo FUNCION
s = 25
y = 10

def imprimir(s, y):
    print(f'el valor de s es {s} y el valor de y es {y}')
    print('el valor de s es ' + str(s) + ' y el valor de y es ' + str(y))
    print('el valor de s es ', s, ' y el valor de y es ', y)
    print(f'el valor de s es %s y el valor de y es %s' %(s, y))
imprimir(s, y)

el valor de s es 25 y el valor de y es 10
el valor de s es 25 y el valor de y es 10
el valor de s es  25  y el valor de y es  10
el valor de s es 25 y el valor de y es 10

In [9]:
# EJERCICIO 3
# 
# """
#     Declarar una variable con nombre "name",
#     que tenga el valor de Juan "El profesor"
# """
name="Juan 'El profesor'"
name

"Juan 'El profesor'"

In [10]:
# MODO FUNCION
def profesor(name):
    return name

print(profesor("Juan 'El profesor'"))

Juan 'El profesor'

In [11]:
# EJERCICIO 4
# 
# """
#     Concatena las siguientes palabras formando un sola:
#     Juan "El profesor"
# """

def profesor_2(name_1, name_2):
    result = name_1 + " " + name_2
    print(result)

profesor_2("Juan", "'El profesor'")

Juan 'El profesor'

In [15]:
# EJERCICIO 5
# 
# """
#     Teniendo la siguientes palabras: no cuentes los días, haz que los días cuenten
#      · Pon las primeras letras de cada palabra en mayúsculas
#      · Pon todas las letras en mayúsculas
#      · Pon todas las letras en minúculas
# """

frase = "no cuentes los días, haz que los días cuenten"

def titulo(frase):
    print(frase.title())

def mayusculas(frase):
    print(frase.upper())

def minusculas(frase):
    print(frase.lower())

# Descomentar para ejecutar:
titulo(frase)
mayusculas(frase)
minusculas(frase)

No Cuentes Los Días, Haz Que Los Días Cuenten
NO CUENTES LOS DÍAS, HAZ QUE LOS DÍAS CUENTEN
no cuentes los días, haz que los días cuenten

In [ ]:
# EJERCICIO 6
# 
# """
#     Realiza la suma de 26 y 35
#     Realiza la multiplicación de 26 y 35
#     Realiza la operación de 2 + 32 por 10
#     Saca el resultado de 3 elevado a 9
#     Redondea el resultado anterior a dos decimales
#     Muestra de que tipo se trata
# """

x = 26
y = 35

def sumaValores(x, y):
    print(x + y)

def multiplicación(x, y):
    print(x * y)

def operación():
    print(2 + 32 * 10)

def elevado(x, y):
    print(x ** y)
    result = x ** y
    return result

def redondeo(value):
    print(round(value, 2))

def tipo(value):
    print(type(value))

# Descomentar para ejecutar:
# sumaValores(x, y)
# multiplicación(x, y)
# operación()
# value = elevado(3, 9)
# redondeo(value)
# tipo(value)

In [16]:
# EJERCICIO 7
# 
# """
#     Saca el valor absoluto de -32
#     Muestra el máximo y el mínimo de (3, -6, 4, -10, 2.6666)
# """

z = -32
lista = [3, -6, 4, -10, 2.6666]


def absoluto(z):
    print("absoluto: ", abs(z))

def test(lista):
    print("máximo: ", max(lista))
    print("mínimo: ", min(lista))

# Descomentar para ejecutar:
absoluto(z)
test(lista)

absoluto:  32
máximo:  4
mínimo:  -10

In [27]:
# EJERCICIO 8
# 
# """
#     Tratar de reemplazar los valores que faltan en este listado --> por un -1
#     L = [10, None, 8, 5, None, 20]
#     1) Hazlo de la forma más fácil posible teniendo en cuenta la posición (index) de esos valores.

def reemplazar_none(lista, valor):
    for i in range(len(lista)):
        if lista[i] == None:
            lista[i]=valor
    return lista

L = [10, None, 8, 5, None, 20]
print(L)
reemplazar_none(L, -1)
print(L)

[10, None, 8, 5, None, 20]
[10, -1, 8, 5, -1, 20]

In [30]:
L = [10, None, 8, 5, None, 20]
df = pd.DataFrame({"listado":L})
print(df)

   listado
0     10.0
1      NaN
2      8.0
3      5.0
4      NaN
5     20.0

In [31]:
df2 = pd.DataFrame()
df['listado'] = L
print(df)

   listado
0     10.0
1      NaN
2      8.0
3      5.0
4      NaN
5     20.0

In [32]:
#     2) Crea un dataframe con esos valores (L = [10, None, 8, 5, None, 20])

L = [10, None, 8, 5, None, 20]

# Modo 1
df = pd.DataFrame({"listado":L})
print(df)

# Modo 2
df2 = pd.DataFrame()
df['listado'] = L
print(df)

# Modo 3
df3 = pd.DataFrame(L, columns=["listado"])
print(df)

   listado
0     10.0
1      NaN
2      8.0
3      5.0
4      NaN
5     20.0
   listado
0     10.0
1      NaN
2      8.0
3      5.0
4      NaN
5     20.0
   listado
0     10.0
1      NaN
2      8.0
3      5.0
4      NaN
5     20.0