In [6]:
# Ejercicio 1
# 
# """
#     Desarrolla el siguiente ejercicios de POO:
#    * Alumnos  -> Es la clase.
#    * __init__ -> Es el método init
#    * nombre, edad, asignatura y nota son las propiedades
#    * Instanciamos..
#    * los posibles alumnos (alumno1, alumno2, alumno3..) --> son los "objetos"
#    * y el.__init__ los inicializa
#    A continuación muestra la edad del alumno 2 y el alumno 3 y sus notas
# """

class Alumno:
    def __init__(self,nombre,edad,asignatura,nota):
        self.nombre=nombre
        self.edad=edad
        self.asignatura=asignatura
        self.nota=nota
    
alumno1 = Alumno("Pedro", 25, "Matemáticas", 6.8)
alumno2 = Alumno("Elia", 26, "Historia", 7.4)
alumno3 = Alumno("Sergio", 28, "Lengua", 9.7)

print("El alumno",alumno1.nombre,"tiene",alumno2.edad, "años","y ha obtenido una nota de",alumno2.nota)
print("El alumno",alumno3.nombre,"tiene",alumno3.edad, "años","y ha obtenido una nota de",alumno3.nota)

El alumno Pedro tiene 26 años y ha obtenido una nota de 7.4
El alumno Sergio tiene 28 años y ha obtenido una nota de 9.7

In [9]:
# Ejercicio 2
# 
# """
#     Escribir un programa que pregunte al usuario su edad
#     y muestre por pantalla todos los años que ha cumplido (desde 1 hasta su edad).
# """
def listado_edad(edad):
    for i in range(int(edad)):
        print(i+1)

edad=input("¿Cuantos años tiene? ")
listado_edad(edad)

¿Cuantos años tiene? 6
1
2
3
4
5
6

In [12]:
# Ejercicio 3
# 
# """
#     Escribir un programa que pida al usuario una palabra y
#     luego muestre por pantalla una a una las letras de la palabra introducida empezando por la última.
# """
def listado_inverso(palabra):
    contador=0
    for i in range(len(palabra)):        
        contador=contador-1
        print(palabra[contador])
        
        
palabra=input("Introduzca una palabra ")
listado_inverso(palabra)

Introduzca una palabra carlos
s
o
l
r
a
c

In [20]:
def listado_inverso2(palabra):
    contador=0
    for i in range(len(palabra)-1, -1, -1):      
        print(palabra[i])

palabra=input("Introduzca una palabra ")

listado_inverso2(palabra)

Introduzca una palabra carlos
s
o
l
r
a
c

In [24]:
# Ejercicio 4
#
#"""
#    Escribir un programa que pregunte el nombre completo del usuario en la consola y
#    después muestre por pantalla el nombre completo del usuario tres veces,
#    una con todas las letras minúsculas,
#    otra con todas las letras mayúsculas y otra solo con la primera letra del nombre y de los apellidos en mayúscula.
#    El usuario puede introducir su nombre combinando mayúsculas y minúsculas como quiera.
#"""

def listado(nombre):
    print(nombre.upper())
    print(nombre.lower())
    print(nombre.title())
    return

nombre=input("Introduzca su nombre ")
listado(nombre)

Introduzca su nombre Carlos cuenca
CARLOS CUENCA
carlos cuenca
Carlos Cuenca

In [11]:
# Ejercicio 5
# 
# """
#     Los teléfonos de una empresa tienen el siguiente formato prefijo-número-extension 
#     donde el prefijo es el código del país +34,
#     y la extensión tiene dos dígitos (por ejemplo +34-913724710-56).
#     Escribir un programa que pregunte por un número de teléfono con este formato
#     y muestre por pantalla el número de teléfono sin el prefijo y la extensión.
# """
def listado_tel(telefono):
    tel=telefono.split("-")
    tel_normalizado=tel[1]    
    return tel_normalizado

telefono=input("Introduzca el telefono de la empresa ")
print(f"El numero de teléfono es: {listado_tel(telefono)}")

Introduzca el telefono de la empresa +34-913724710-56
El numero de teléfono es: 913724710

In [6]:
def listado_tel(telefono):
    tel_normalizado=telefono[4:13]    
    return tel_normalizado

telefono=input("Introduzca el telefono de la empresa ")
listado_tel(telefono)

Introduzca el telefono de la empresa +34-913724710-56

'913724710'

In [12]:
# Ejercicio 6
# 
# """
#     Escribir un programa que pida al usuario que introduzca una frase en la consola y una vocal,
#     y después muestre por pantalla la misma frase pero con la vocal introducida en mayúscula.
#     ejemplo geranio --> e --> gEranio
# """
def cambiar_vocal(frase, vocal):
    for i in range(len(frase)):
        if frase[i]==vocal:
            frase=frase[0:i]+vocal.upper()+frase[i+1:len(frase)]
    return frase

frase=input("Introduzca una frase ")
vocal=input("Introduzca una vocal ")

print(f"La frase haciendo mayusculas la letra {vocal} es {cambiar_vocal(frase, vocal)}")

Introduzca una frase Megalitico
Introduzca una vocal i
La frase haciendo mayusculas la letra i es MegalItIco

In [1]:
def cambiar_vocal2(frase, vocal):
    return print(frase.replace(vocal, vocal.upper()))
     

frase=input("Introduzca una frase ")
vocal=input("Introduzca una vocal ")

cambiar_vocal2(frase, vocal)

Introduzca una frase pedro por su casa
Introduzca una vocal a
pedro por su cAsA

In [13]:
# Ejercicio 7
# 
# """
#     Escribir un programa que pregunte por consola el precio de un producto en euros con dos decimales
#     y muestre por pantalla el número de euros y el número de céntimos del precio introducido.
#     Ejemplo: 24.75 --> 24 Euros con 75 Centimos
# """

def separar_decimales(numero):
    num=numero.split(".")
    print(f"{numero} --> {num[0]}  Euros con {num[1]} Centimos")
    return 

numero=input("Introduzca un numero decimal ")

separar_decimales(numero)

Introduzca un numero decimal 24.75
24.75 --> 24  Euros con 75 Centimos

In [14]:
# Ejercicio 8
# 
# """
#     Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:
#     Mes Ventas Gastos
#     Enero 30500 22000
#     Febrero 35600 23400
#     Marzo 28300 18100
#     Abril 33900 20700
# """

import pandas as pd

datos_meses = ['Enero', 'Febrero', 'Marzo', 'Abril']
datos_ventas = [30500, 35600, 28300, 33900] 
datos_gastos = [22000, 23400, 18100, 20700]

datos_tabla = {'Mes':datos_meses,
            'Ventas': datos_ventas,
            'Gastos': datos_gastos}
df=pd.DataFrame(datos_tabla)
df

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

In [23]:
# Ejercicio 9
# 
# """
#     Escribir una función que reciba un DataFrame con el formato del ejercicio anterior,
#     una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.
# """

def balance_df(df):
    balance = 0
    for i in range(len(df.Mes)):
        balance=balance+df.Ventas[i]-df.Gastos[i]

    return balance

balance_df(df)

44100

In [22]:
def balance_df(df):
    balance =[]
    for i in range(len(df.Mes)):
        b =df.Ventas[i]-df.Gastos[i]
        balance.append(b)
    return balance

print(sum(balance_df(df)))

44100

In [22]:
# Ejercicio 10
# 
# """
#     Escribir un programa que almacene las asignaturas de un curso
#     (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista,
#     pregunte al usuario la nota que ha sacado en cada asignatura,
#     y después las muestre por pantalla con el mensaje "Has sacado ASIGNATURA la nota de NOTA"
#     donde es cada una de las asignaturas de la lista y cada una de las correspondientes notas introducidas por el usuario.
# """

def listado_notas(asignaturas):
    notas = []
    for i in range(len(asignaturas)):
        nota=input(f"¿Que nota ha sacado en la asignatura {asignaturas[i]} ? ")
        notas.append(nota)
    print("\n")
    
    for i in range(len(notas)):
        print(f"Has sacado {asignaturas[i].upper()} la nota de {notas[i]}")
    return

asignaturas = ["Matemáticas", "Física", "Química", "Historia", "Lengua"]
listado_notas(asignaturas)

¿Que nota ha sacado en la asignatura Matemáticas ? 5,6
¿Que nota ha sacado en la asignatura Física ? 7.7
¿Que nota ha sacado en la asignatura Química ? 9.9
¿Que nota ha sacado en la asignatura Historia ? 3.3
¿Que nota ha sacado en la asignatura Lengua ? 4.5


Has sacado MATEMÁTICAS la nota de 5,6
Has sacado FÍSICA la nota de 7.7
Has sacado QUÍMICA la nota de 9.9
Has sacado HISTORIA la nota de 3.3
Has sacado LENGUA la nota de 4.5