In [2]:
# EJERCICIO 1
# a) Declara la variable "test" como una lista con los siguientes componentes: 25, 8, 32, 20, 1.
    # Usa las formas que conozcas para crearla y el uso de type para asegurarte de que es una lista.

In [3]:
test = list((25, 8, 32, 20, 1))

In [74]:
test = [25, 8, 32, 20, 1]

In [75]:
type(test)

list

In [76]:
# b) Apendiza un valor de valor 20, 32, 25, 32

In [84]:
test = [25, 8, 32, 20, 1]
nuevos_valores = [20, 32, 32, 25, 31]

In [85]:
def apendizar(a,b,c):
    c = []
    c = a + b
    print(c)

apendizar(test, nuevos_valores, listado_final)

[25, 8, 32, 20, 1, 20, 32, 32, 25, 31]

In [72]:
listado_final = test + nuevos_valores

In [73]:
listado_final

[31, 1, 20, 32, 25, 20, 32, 32, 25, 31]

In [10]:
# c) Elimina el valor 8 de la lista

In [86]:
def eliminar(listado,valor):
    contador = 0
    for i in listado:
        if i == valor:
            del listado[contador]
        else:
            contador += 1

eliminar(listado_final, 8)
listado_final

[31, 1, 20, 32, 25, 20, 32, 32, 25, 31]

In [16]:
# d) Elimina los duplicados que haya en la lista test

In [17]:
test = listado_final
test

[25, 32, 20, 1, 20, 32, 32, 25, 31]

In [24]:
valores_unicos = []
valores_unicos

[]

In [25]:
contador = 0
for i in test:
    if i not in valores_unicos:
        valores_unicos.append(i)
valores_unicos

[25, 32, 20, 1, 31]

In [26]:
test = valores_unicos

In [27]:
test

[25, 32, 20, 1, 31]

In [28]:
# e) Crea una segunda lista de nombre "info" que contenga los valores:
    #  25, 100, 10, 20, 5, 25, 30, 200

In [29]:
info = [25, 100, 10, 20, 5, 25, 30, 200]
info

[25, 100, 10, 20, 5, 25, 30, 200]

In [30]:
# f) ¿Cuántos valores se repiten entre las listas?

In [95]:

def comparar_listas(a,b):
    contador = 0
    for n in a:
        for i in b:
            if n == i:
                print('Numero repetido: ', n)
                contador += 1
    print(contador)

test = [25, 8, 32, 20, 1]
info = [25, 100, 10, 20, 5, 25, 30, 200]
comparar_listas(test, info)

Numero repetido:  25
Numero repetido:  25
Numero repetido:  20
3

In [97]:
# g) Muéstrame el maximo y mínimo en las dos listas
print("MAXIMO Y MINIMO LISTA", test)
max(test), min(test)

MAXIMO Y MINIMO LISTA [25, 8, 32, 20, 1]

(32, 1)

In [98]:
print("MAXIMO Y MINIMO LISTA", info)
max(info), min(info)

MAXIMO Y MINIMO LISTA [25, 100, 10, 20, 5, 25, 30, 200]

(200, 5)

In [100]:
# h) Crea una nueva variable de nombre "matriz" transformando la lista test en matriz
import numpy as np
matriz = np.array(test)
matriz

array([25,  8, 32, 20,  1])

In [46]:
# i) Crea una función que se llame "funcion_división" donde se divida
# el test con valor 32 entre info con valor 5 y muestra el resto de la división

# Info[4] == 5
# test[0] == 32

print(info)
s = info.index(5)
print(s)

print(test)
n = test.index(32)
print(n)

[25, 100, 10, 20, 5, 25, 30, 200]
4
[25, 32, 20, 1, 31]
1

In [49]:
def funcion_division(n, s):
    return test[n] % info[s]

In [50]:
funcion_division(n, s)

2

In [63]:
# j) Con ayuda de reverse() muestra la inversa de test
print(test)
inverso = test
def revertir(n, r):
    r = n.reverse()
    
revertir(test, inverso)
print(inverso)

[25, 32, 20, 1, 31]
[31, 1, 20, 32, 25]

In [ ]:
# k) Con el listado info utiliza un bucle for con la ayuda de enumerate(),
    # para mostrar posición y valor y crea un diccionario de nombre "newDict"

In [102]:
N = np.arange(1,101,1)
print(N)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]