In [13]:
import pandas as pd

# EJERCICIO 1
# 
# """
#    Dado el siguiente listado: ["Python", "Matlab", "R", "VBA", "Julia", "C++"].
# 
#     Modifica con un algoritmo ese listado.
# 
#     Cuando encuentre Python debe poner un 1
#     y cuando encuentre otro lenguaje de programacion, un 0
#     es un simple ejemplo de modificación de valores en una lista.
# """

In [4]:
lenguajes=["Python", "Matlab", "R", "VBA", "Julia", "C++"]
lenguajes

['Python', 'Matlab', 'R', 'VBA', 'Julia', 'C++']

In [5]:
for i in range(len(lenguajes)):
    if lenguajes[i]=="Python":
        lenguajes[i]=1
    else:
        lenguajes[i]=0
print(lenguajes)

[1, 0, 0, 0, 0, 0]

In [8]:
# FUNCION
def transformacion(languages):
    for i in range(len(languages)):
        if languages[i] == "Python":
            languages[i] = 1
        else:
            languages[i] = 0
    return languages

lenguajes=["Python", "Matlab", "R", "VBA", "Julia", "C++"]
print(transformacion(lenguajes))

[1, 0, 0, 0, 0, 0]

In [9]:
# EJERCICIO 2
# 
# """
#     Dada la siguiente lista:
#     L = [10, None, 8, 5, None, 20]
# """
L = [10, None, 8, 5, None, 20]
print(L)

# 1) Susitituir por -1 el valor None usando bucles y listas

for i in range(len(L)):
    if L[i]==None:
        L[i]=-1
print(L)

[10, None, 8, 5, None, 20]
[10, -1, 8, 5, -1, 20]

In [22]:
def sustituir_valor_lista(lista, valor):
    for i in range(len(lista)):
        if lista[i]==None:
            lista[i]=valor
    return lista

L = [10, None, 8, 5, None, 20]
print(L)
print(sustituir_valor_lista(L, -1))

[10, None, 8, 5, None, 20]
[10, -1, 8, 5, -1, 20]

In [17]:
# 2) Creamos un dataframe con los valores de la lista y
#     modificamos los "NaN" por un valor de -1 (Valores nulos, suma, etc..)
L = [10, None, 8, 5, None, 20]
df=pd.DataFrame({"Valores":L})
df

   Valores
0     10.0
1      NaN
2      8.0
3      5.0
4      NaN
5     20.0

In [18]:
df2=pd.DataFrame(L, columns=["Valores"])
df2

   Valores
0     10.0
1      NaN
2      8.0
3      5.0
4      NaN
5     20.0

In [23]:
def sustituir_valor_df(DF, valor):
    DF = DF.fillna(valor)
    return DF
sustituir_valor_df(df.Valores, -1)

0    10.0
1    -1.0
2     8.0
3     5.0
4    -1.0
5    20.0
Name: Valores, dtype: float64

In [24]:
# 3) Vuelve a escribir el listado con falta de valores (inicial),
#     y sustituye por la media.

L = [10, None, 8, 5, None, 20]
df=pd.DataFrame({"Valores":L})
df

def sustituir_valor_df(DF, valor):
    DF = DF.fillna(valor)
    return DF

sustituir_valor_df(df.Valores, df.Valores.mean())

0    10.00
1    10.75
2     8.00
3     5.00
4    10.75
5    20.00
Name: Valores, dtype: float64

In [25]:
# 4) Apendiza la columna con estos valores
#     listado2 = [10, 20, 50, 30, 20, 0]

listado2 = [10, 20, 50, 30, 20, 0]

df["listado2"]=listado2
df

   Valores  listado2
0     10.0        10
1      NaN        20
2      8.0        50
3      5.0        30
4      NaN        20
5     20.0         0

In [27]:
# 5) Elimina la columna L

df=df.drop(["listado2"],axis=1)
df

   Valores
0     10.0
1      NaN
2      8.0
3      5.0
4      NaN
5     20.0

In [28]:
#
# EJERCICIO 3
#
#"""
#    Crear un listado con los siguientes numeros:
#        10, 20, 30, 40 (nombra la lista con nombre: "listado")
#"""
# 1) Crea el listado e imprimelo:

listado = [10, 20, 30, 40]
listado

[10, 20, 30, 40]

In [29]:
# 2) Apendiza el valor 50 ( si es posible)
listado.append(50)
listado

[10, 20, 30, 40, 50]

In [31]:
def apendiza_lista(lista, valor):
    lista.append(valor)
    return lista

listado = [10, 20, 30, 40]
print(listado)
print(apendiza_lista(listado, 50))

[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [32]:
# 3) Modifica (si es posible) el valor 10 por 100

def modifica_lista(lista, valor, valor_s):
    for i in range(len(lista)):
        if lista[i]==valor:
            lista[i]=valor_s
    return lista

print(listado)
print(modifica_lista(listado, 10,100))

[10, 20, 30, 40, 50]
[100, 20, 30, 40, 50]

In [33]:
# EJERCICIO 4
# 
# """
#     Dada una lista de nombre "Temperatura" con valores: 10, 20, 30, 40, 50
# """

# 1) Crea el listado e imprimelo:
Temperatura = [10, 20, 30, 40, 50]
Temperatura

[10, 20, 30, 40, 50]

In [34]:
# 2) En este "Temperatura". ¿Cuál es el elemento en la posición (index) 1?
Temperatura[1]

20

In [35]:
# 3) ¿Y en la posición (index) 0?

Temperatura[0]

10

In [36]:
# 4) ¿Y en la posición (index) -1?

Temperatura[-1]

50