Contenido creado por: 

*Isabel Maniega*

* Los ejercicios puntuan 2 puntos cada uno hasta un M√°ximo de 10 puntos.
* Lea los ejercicios detenidamente y realice cada uno de los apartados.
* En caso de duda puede consultar internet para su realizaci√≥n.

    # Suerte!! üòä

****

# Ejercicio 1

Dado el siguiente array de Numpy:

array = np.array([10,20,30])

Se pide:

a) Transformar el array en una lista (lista de nombre "L")

In [2]:
import numpy as np

In [3]:
array = np.array([10,20,30])

In [5]:
array

array([10, 20, 30])

In [6]:
L=list(array)

In [7]:
L

[10, 20, 30]

b) Una vez creada esa lista L, modificar la lista en su posici√≥n 1, por 200

In [8]:
L[1]=200

In [9]:
L

[10, 200, 30]

c) Tras responder a) y b) trata de a√±adir el valor 40 al final de la lista

In [10]:
L.append(40)

In [11]:
L

[10, 200, 30, 40]

****

# Ejercicio 2

Queremos recorrer esta lista: L = [100,200,300,400]

Teniendo en cuenta que queremos obtener aquellos valores < 150

(y almacenarlos en una lista)

Hazlo, si sabes de varias formas posibles.

In [12]:
L = [100,200,300,400]

In [13]:
L

[100, 200, 300, 400]

In [14]:
Lista=[]

In [15]:
for i in L:
    if i<150:
        Lista.append(i)

print(Lista)

[100]

In [27]:
Lista2=[]
Lista2.append(L[0])

In [28]:
Lista2

[100]

****

# Ejercicio 3

Crea un diccionario que tenga la nota de 3 asignaturas y 

haz un peque√±o algoritmo que calcule la nota media

In [240]:
# CURSO         -> Nota
# ---------------------
# Matem√°ticas   ->  10
# Historia      ->  8
# Ingl√©s        ->  6

In [241]:
Asignaturas =["Matem√°ticas","Historia","Ingl√©s"]

In [242]:
Notas = [10,8,6]

In [243]:
curso=dict(zip(Asignaturas,Notas))

In [244]:
curso

{'Matem√°ticas': 10, 'Historia': 8, 'Ingl√©s': 6}

In [ ]:
# FORMA SENCILLA

In [250]:
def Nota_Media(Lista_Notas):
    Nota_Media=sum(Lista_Notas)/len(Lista_Notas)
    return Nota_Media

In [251]:
Nota_Media(Notas)

8.0

In [42]:
# CON UN BUCLE FOR

In [252]:
def Nota_Media_bucle(Lista_Notas):
    numero_notas = 0
    suma_notas = 0
    for nota in curso.values():
            suma_notas=suma_notas+nota
            numero_notas = numero_notas + 1
    
    Nota_Media_bucle=suma_notas/numero_notas
    return Nota_Media_bucle

In [253]:
Nota_Media_bucle(Notas)

8.0

**1)** Muestra el valor de las claves

In [43]:
claves = curso.keys()

In [44]:
print(claves)

dict_keys(['Matem√°ticas', 'Historia', 'Ingl√©s'])

**2)** Muestra el valor de los valores del diccionario

In [45]:
valores = curso.values()

In [46]:
print(valores)

dict_values([10, 8, 6])

**3)** Apendiza en el diccionario un nuevo elemento: 
    
Lengua  --> 9

In [47]:
curso["Lengua"] = 9

In [48]:
curso

{'Matem√°ticas': 10, 'Historia': 8, 'Ingl√©s': 6, 'Lengua': 9}

**4)** Haciendo uso un bucle muestra la clave y el valor del diccionario, cuyo resultado final sean listas anidadas.

[["clave1", valor1], ["clave2", valor2]]

In [52]:
lista=[]
for key, value in curso.items():
    lista.append([key, value])
print(lista)

[['Matem√°ticas', 10], ['Historia', 8], ['Ingl√©s', 6], ['Lengua', 9]]

**5)** Reconvierte el diccionario para transformarlo en un dataframe y busca la asignatura con la nota m√°s alta

In [54]:
import pandas as pd

In [ ]:
# forma 1 crear data frame

In [74]:
df = pd.DataFrame()

In [75]:
df["Asignaturas"]=Asignaturas

In [79]:
df["Notas"]=Notas

In [80]:
df

   Asignaturas  Notas
0  Matem√°ticas     10
1     Historia      8
2       Ingl√©s      6

In [ ]:
# forma 2 crear data frame

In [83]:
df2 = pd.DataFrame({"Asignaturas":Asignaturas, "Notas": Notas})

In [84]:
df2

   Asignaturas  Notas
0  Matem√°ticas     10
1     Historia      8
2       Ingl√©s      6

In [ ]:
# forma 3 crear data frame

In [254]:
curso=list(zip(Asignaturas,Notas))

In [256]:
df3 = pd.DataFrame(curso, columns=["Asignaturas","Notas"])

In [257]:
df3

   Asignaturas  Notas
0  Matem√°ticas     10
1     Historia      8
2       Ingl√©s      6

In [258]:
# Notas mas alta

In [86]:
maxima=max(Notas)

In [88]:
maxima

10

In [89]:
maxima=max(df.Notas)

In [90]:
maxima

10

**6)** ¬øy la nota m√°s baja?

In [91]:
minima=min(df.Notas)

In [92]:
minima

6

**7)** Ordena el dataframe en orden descendente:

In [95]:
df.sort_values(by="Notas", ascending=False)

   Asignaturas  Notas
0  Matem√°ticas     10
1     Historia      8
2       Ingl√©s      6

****

# Ejercicio 4

Dado este listado de n√∫meros:

-8, 350, 0, 799, 200, -30, 650, 0, 1650, 900

Haz un peque√±o algoritmo que haga lo siguiente:
* Si el n√∫mero es negativo debe imprimir lo siguiente **el valor es negativo**
* Si es 0 debe imprimir un mensaje que indique: **0**
* Si se encuentra entre 0 (no incluido) y 400 (si incluido), imprime **0,400**
* Si se encuentra entre 600 (no incluido) y 800 (no incluido), debe imprimir **(600, 800)**
* Si es 200 debe **continuar** sin hacer nada
* Si se encuentra entre 800 (no incluido) y 1000 (no incluido) debe **saltar automaticamente y dejar de testear** (parar)
* Para el resto de n√∫meros, debe decir: **valor demasiado grande, desde 1000, en adelante**

In [247]:
def mensaje_lista(numeros):
    for numero in numeros:
        if numero < 0:
            print("el valor es negativo")
        elif numero == 0:
            print("0")     
        elif numero > 0 and numero <= 400:
            print("0,400")    
        elif numero > 600 and numero < 800:
            print("(600, 800)")    
        elif numero == 200:
            continue
        elif numero > 800 and numero < 1000:
            break
        else:
            print("valor demasiado grande, desde 1000, en adelante")    
    return

In [248]:
numeros=(-8, 350, 0, 799, 200, -30, 650, 0, 1650, 900)

In [249]:
mensaje_lista(numeros)

el valor es negativo
0,400
0
(600, 800)
0,400
el valor es negativo
(600, 800)
0
valor demasiado grande, desde 1000, en adelante

# Ejercicio 5

**1)** Crea una lista de nombre "Concursante" que contenga los siguientes valores:

"Teodoro", "Cristina", "Antonio", "Marina", "Laura", "Felix", "Jose", "Estefania"

In [112]:
Concursantes=["Teodoro", "Cristina", "Antonio", "Marina", "Laura", "Felix", "Jose", "Estefania"]

In [113]:
Concursantes

['Teodoro',
 'Cristina',
 'Antonio',
 'Marina',
 'Laura',
 'Felix',
 'Jose',
 'Estefania']

**2)** Crea una lista de nombre "Resultados" que contenga los siguientes valores:

40, 20, 50, 3, 50, 5, 60, 40

In [114]:
Resultados = [40, 20, 50, 3, 50, 5, 60, 40]

In [115]:
Resultados

[40, 20, 50, 3, 50, 5, 60, 40]

**3)** Con ayuda de las listas anteriores crea un diccionario con los concursantes y los resultados.

In [116]:
diccionario=dict(zip(Concursantes,Resultados))

In [117]:
diccionario

{'Teodoro': 40,
 'Cristina': 20,
 'Antonio': 50,
 'Marina': 3,
 'Laura': 50,
 'Felix': 5,
 'Jose': 60,
 'Estefania': 40}

**4)** Crea un dataframe vacio y apendiza los concursantes y los resultados mediante el empleo de un bucle for

In [205]:
data=list(zip(Concursantes,Resultados))

In [206]:
data

[('Teodoro', 40),
 ('Cristina', 20),
 ('Antonio', 50),
 ('Marina', 3),
 ('Laura', 50),
 ('Felix', 5),
 ('Jose', 60),
 ('Estefania', 40)]

In [207]:
data2=[]

In [208]:
for i in range(len(Concursantes)):
    data2.append((Concursantes[i],Resultados[i]))

In [209]:
data2

[('Teodoro', 40),
 ('Cristina', 20),
 ('Antonio', 50),
 ('Marina', 3),
 ('Laura', 50),
 ('Felix', 5),
 ('Jose', 60),
 ('Estefania', 40)]

In [210]:
df= pd.DataFrame(data2, columns=["Concursantes","Resultados"])

In [211]:
df

  Concursantes  Resultados
0      Teodoro          40
1     Cristina          20
2      Antonio          50
3       Marina           3
4        Laura          50
5        Felix           5
6         Jose          60
7    Estefania          40

**5)** Con ayuda de loc filtra los resultados obtenidos desde Antonio hasta Jose.

In [212]:
df.loc[2:6]

  Concursantes  Resultados
2      Antonio          50
3       Marina           3
4        Laura          50
5        Felix           5
6         Jose          60

**6)** Con ayuda de loc filtra los resultados obtenidos mayores o iguales a 40

In [213]:
df.loc[df["Resultados"]>=40]

  Concursantes  Resultados
0      Teodoro          40
2      Antonio          50
4        Laura          50
6         Jose          60
7    Estefania          40

**7)** Muestra el concursante con la mayor puntuaci√≥n

In [214]:
valor_maximo = df.max()["Resultados"]

In [215]:
df.loc[df["Resultados"] == valor_maximo]

  Concursantes  Resultados
6         Jose          60

**8)** Muestra el concursante con la menor puntuaci√≥n

In [216]:
valor_minimo = df.min()["Resultados"]

In [217]:
df.loc[df["Resultados"] == valor_minimo]

  Concursantes  Resultados
3       Marina           3

**9)** Modifica con la ayuda de loc los valores 50 por 0

In [234]:
df.loc[df['Resultados'] == 50, 'Resultados'] = '0'

In [235]:
df

  Concursantes Resultados
0      Teodoro         40
1     Cristina         20
2      Antonio          0
3       Marina          3
4        Laura          0
5        Felix          5
6         Jose         60
7    Estefania         40

**10)** Modifica Concursante "Marina" su puntuaci√≥n por "50" con ayuda de .loc

In [236]:
df.loc[df['Concursantes'] == "Marina", 'Resultados'] = '50'

In [237]:
df

  Concursantes Resultados
0      Teodoro         40
1     Cristina         20
2      Antonio          0
3       Marina         50
4        Laura          0
5        Felix          5
6         Jose         60
7    Estefania         40

Gracias por la atenci√≥n

*Isabel Maniega*